::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
@media \0screen {
  img {
    width: auto; /* for ie 8 */
  }
}
.break-word {
  word-wrap: break-word;
}

td { vertical-align: top; }


header {}
#p6-site-logo {}
#p6-site-logo img {}
#p6-site-name-and-slogan {}
#p6-site-name {}
#p6-site-slogan {}
header nav {}

nav ul {}
nav ul li {}
nav ul li a {}
nav ul li a:hover {}
nav ul li a:active,
nav ul li a:focus {}
